<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flites - The Sprite Generator</title>
    <link href="./src/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
</head>
<body class="font-sans text-regxl font-normal overflow-x-hidden text-brand-gray-light w-full overflow-x-hidden {=$bodyClasses}">

    
<!-- ===== Header ===== -->
<header class="py-2 {=$navBarClasses}" data-inject="header">
    <div class="container-lg flex justify-between items-center">
        <a href="/" class="text-2xl font-bold text-white self-stretch w-[40%] max-w-[170px] mr-6">
            <img src="./assets/ci/flites-logo-white.svg" alt="Flites Logo" class="w-auto h-full">
        </a>

        <nav class="hidden md:flex items-center space-x-4 py-5 text-lg font-semibold">
            <div class="flex items-center space-x-8 lg:space-x-16">
                <a href="#" class="nav-item">Features</a>
                <a href="#" class="nav-item">About</a>
                <a href="#" class="nav-item">Contribute</a>
            </div>

            <div class="w-6 lg:w-20">&nbsp;</div>

            <a href="#" class="btn-info-border-hidden hidden xl:inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
            </a>

            <a href="#" class="btn-info-border hidden xl:inline-block">
                Webapp
            </a>

            <a href="#" class="btn-gradient-border">
                    <span class="btn-gradient-border-inner">
                        Free download
                    </span>
            </a>

        </nav>
        <button class="md:hidden text-white py-5">
            <!-- Mobile Menu Icon (optional) -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
            </svg>
        </button>
    </div>
</header>